<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hola AngularJS</title>
        <meta name="description" content="Hola mundo con AngularJS">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">    
        <script src="../../node_modules/angular/angular.js"></script>
        <script src="./js/appModule.js"></script>
        <script src="./js/appController.js"></script>
    </head>
    <!-- Con esta guia de estilos se usa otro nombre para la variable -->
    <body ng-app="appMain" ng-controller="AppController as $ctrl">
        <div class="container">
            <header class="jumbotron"><h1>{{$ctrl.titulo}}</h1></header>
            <article>
                <form>
                    <p>
                        <label for="inputNombre">Nombre de usuario</label>
                        <input id="inputNombre" type="text" name="inputNombre" ng-model="$ctrl.inputNombre"/>
                    </p>
                    <p>
                        <input type="button" ng-click="$ctrl.borrar()" value="Borrar"/>
                    </p>
                </form>
                <p>Hola {{$ctrl.inputNombre.toUpperCase() || "mundo"}}</p>
                <p>{{$ctrl.number * 3}}</p>
                <p>{{$ctrl.inputNombre.length ? 'Me gusta tu nombre' : 'Venga animate' || "mundo"}}</p>
            </article>   
        
            <footer>
                <p class="card">{{$ctrl.autor}} - 2017</p></footer>
        </div>
    </body>
</html>